<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置通配符解析器-->
    <bean id="permissionResolver" class="org.apache.shiro.authz.permission.WildcardPermissionResolver"/>

    <!--配置模块化授权器-->
    <bean id="authorizer" class="org.apache.shiro.authz.ModularRealmAuthorizer">
        <property name="permissionResolver" ref="permissionResolver"/>
    </bean>

    <!--配置模块化身份验证-->
    <bean id="authenticator" class="com.wy.authenticator.MyModularRealmAuthenticator">
        <property name="authenticationStrategy">
            <bean class="org.apache.shiro.authc.pam.FirstSuccessfulStrategy" />
        </property>
    </bean>

    <!-- 配置admin角色自定义域 -->
    <bean id="adminRealm" class="com.wy.realm.AdminRealm"/>

    <!-- 配置user角色自定义域 -->
    <bean id="userRealm" class="com.wy.realm.UserRealm"/>

    <!--配置默认的Web安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--模块化权限授权器-->
        <property name="authorizer" ref="authorizer"/>
        <property name="authenticator" ref="authenticator" />
        <!--配置多个域-->
        <property name="realms">
            <list>
                <ref bean="userRealm" />
                <ref bean="adminRealm" />
            </list>
        </property>
    </bean>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehCacheManager"/>
    </bean>

    <!-- Shiro过滤器 核心-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/user/loginPager"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <property name="unauthorizedUrl" value="/user/AuthenticationFailedPage"/>
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <property name="filterChainDefinitions">
            <value>
                /user/userLogin=anon
                /user/userHome=authc
                /admin/adminHome=authc
                /css/**=anon
                /images/**=anon
                /js/**=anon
                /student=roles[teacher]
                /teacher=perms["user:create"]
            </value>
        </property>
    </bean>

    <!--配置bean最后生命周期的处理程序-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>