<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.AdminDAO">
    <resultMap type="admin" id="adminMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="headicon" property="headicon"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="queryAll" resultMap="adminMap">
        <![CDATA[
          SELECT *from db_supervise.t_admin
        ]]>
    </select>

    <select id="queryById" resultMap="adminMap">
        <![CDATA[
          SELECT *FROM db_supervise.t_admin WHERE id=#{id}
        ]]>
    </select>

    <select id="queryRoles" parameterType="String" resultType="String">
        SELECT roleName FROM db_supervise.t_roles WHERE id
        IN (select role_id from db_supervise.t_user_role
        WHERE user_id = (select id from db_supervise.t_admin where email = #{email}))
    </select>

    <select id="queryPermissions" parameterType="String" resultType="String">
        SELECT permissionName FROM db_supervise.t_permission
        WHERE id IN (SELECT permission_id FROM db_supervise.t_role_permission
        WHERE role_id IN (SELECT role_id FROM db_supervise.t_user_role
        WHERE user_id = (SELECT id FROM db_supervise.t_admin
        WHERE email = #{email})))
    </select>

    <select id="queryByEmail" resultMap="adminMap">
        <![CDATA[
          SELECT *FROM db_supervise.t_admin WHERE email=#{email}
        ]]>
    </select>

    <insert id="add" parameterType="user">
        <![CDATA[
        INSERT INTO db_supervise.t_admin(id, username, password, address, phone, email)
         VALUES (uuid(),#{username},#{password},#{address},#{phone},#{email})
        ]]>
    </insert>

    <insert id="update" parameterType="user">
        <![CDATA[
        UPDATE db_supervise.t_admin set address=#{address},phone=#{phone},username=#{username} WHERE id=#{id}
        ]]>
    </insert>

    <delete id="deleteById">
        <![CDATA[
          DELETE FROM db_supervise.t_admin WHERE id=#{id}
        ]]>
    </delete>

    <update id="updatePwd" keyProperty="int" parameterType="user">
        <![CDATA[
          UPDATE db_supervise.t_admin SET password=#{password} WHERE email=#{email}
        ]]>
    </update>
</mapper>