<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.UserDAO">
    <resultMap type="user" id="userMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="headicon" property="headicon"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="queryByUsername" resultMap="userMap" parameterType="string">
        <![CDATA[
          select * from db_supervise.t_user where username=#{username}
        ]]>
    </select>

    <select id="queryRoles" parameterType="String" resultType="String">
        SELECT r.roleName FROM db_supervise.t_user u,db_supervise.t_role r WHERE u.role_id=r.id AND u.username=#{username}
    </select>

    <select id="queryPermissions" parameterType="String" resultType="String">
        select from db_supervise.t_user u,db_supervise.t_role r,db_supervise.t_permission p
        WHERE u.role_id=r.id AND p.roleId=r.id AND u.username=#{username}
    </select>

    <select id="queryAll" resultMap="userMap">
        <![CDATA[
          SELECT *from db_supervise.t_user
        ]]>
    </select>

    <select id="queryById" resultMap="userMap">
        <![CDATA[
          SELECT *FROM db_supervise.t_user WHERE id=#{id}
        ]]>
    </select>

    <insert id="add" parameterType="user">
        <![CDATA[
        INSERT INTO db_supervise.t_user(id, username, password, address, phone, email,headicon)
         VALUES (uuid(),#{username}.#{password},#{address},#{phone},#{email},#{headicon})
        ]]>
    </insert>

    <insert id="update" parameterType="user">
        <![CDATA[
        UPDATE db_supervise.t_user set address=#{address},phone=#{phone}
        ]]>
    </insert>

    <delete id="deleteById">
        <![CDATA[
          DELETE FROM db_supervise.t_user WHERE id=#{id}
        ]]>
    </delete>
</mapper>